
/*
 // CSS //
Para hacer una modificacion de CSS en la pagina web llamo la etiqueta y encierro en llaves. 

*/

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;     /* fuente tipografica (tipo de letra) */
}

/* Etiquets nav */ 
nav {
    /* */
    background-color: #EB3F69;  /* Color de fondo */
    margin: 3px;        /* Margen externa a todos los 4 lados en pixeles*/
    padding: 0,8px;     /* Margen interna a los 4 lados en pixeles*/
    
}

li {
    display: inline-block;      /* Visualizacion en bloques de linea(Ordena o alinea a un lado)*/
    margin: 5px;              
    padding-left: 5px;      /*Margen interna a la izquierda en pixeles*/
    padding-right: 5px;     /*Margen interna a la derecha en pixeles*/
   
}

a {
    color: aliceblue; /*Color de la fuente()color letra*/
}

header {
    background-color: #EB3F69;
}
 img {
     display: block;
     margin: auto;
 }

 aside {
    background-color: #EB3F69;
    margin: 5px; 
    display: inline-block;
    width: 30%;
    padding: 15px;
 }

 section {
    background-color: #EB3F69;
    margin: 5px; 
    display: inline-block;
    width: 62%;
    padding: 15px;
 }